/*styles for registration and download page*/
body{
	background-color:#CCCCCC;
	font-family:Helvetica, Georgia, Arial, sans-serif;
	}
#wrap{
	width:800px;
	height:950px;
	border: 1px solid;
	margin:0 auto 0 auto;
	background-color:white;
}
body.section1 #navigation button.one,
body.section2 #navigation button.two,
body.section3 #navigation button.three,
body.section4 #navigation button.four,
body.section5 #navigation button.five
{
background:blue;
}

body.section1 #hnavigation button.one1,
body.section2 #hnavigation button.two2,
body.section3 #hnavigation button.three3,
body.section4 #hnavigation button.four4,
body.section5 #hnavigation button.five5
{
background:blue;
}


#skip{
	position:relative;
	top:5px;
	text-align:right;
	}
#skip a{
	border:1px dashed #8C98AE;
	color:#20399D;
	margin: 20 0;
	text-decoration:none;
	}
#skip a:hover{
	color:#00009C;
	text-decoration:underline;
	}
	
#navigation{
	list-style-type:none;
	margin:0;
	padding:0;
	width:800px; 
	position:absolute;
	top:45px;
	/*border-bottom: .5em solid #999999;*/
	}
#navigation li{
	float:left;
	}
#navigation button{
	display:block;
	background-color:#d3d3d3;
	width:160px;
	height:50px;
	border:1px solid #C0C0C0;
	}
#navigation button:hover{
	/*background-color: #0000CC;*/
	background-color: #336699;
	color:#ffffff;
	cursor: pointer;
	}
#title{
	position:relative;
	top:80px;
	font-size:25px;
	}
	
#title1{
	position:relative;
	top:90px;
	font-size:25px;
	width:650px;
	margin:0 150px;
	}
#pfont{
	font-size:14px;
	}
#titlefont{
	font-size:20px;
	color:darkblue;
	}
#search{
	float:right;
	position:relative;
	top:70px;
	height:35px;
	/*width:800px;*/
	/*border-bottom:.5em solid #999999;*/
	}
#searchbutton{
	background-color:#d3d3d3;
	font-size:.8em;
	color:black;
	border: .3em solid #C0C0C0;
	}
#searchbutton:hover{
	background-color:#505050;
	color:white;
	}
#registermaincontent{
	width:600px;
	height:400px;
	position:absolute;
	top:170px;
	margin-left:30px;
	}
#center{
	margin-left:10px;
	}
#downloadbox{
	position:absolute;
	top:190px;
	width:800px;
	height:25px;
	border:1px solid gray;
	padding-top:5px;
	padding-bottom:5px;
	margin:0 auto 0 auto;
	background-color:green;
	
	}
#downloadtable{
	position:relative;
	top:-10px;
	width:650px;
	height:100px;
	border-collapse:collapse;
	font-size:16px;
	}
#downloadtablep{
	font-size:10px;
	}
#downloadtable td {
	border:1px solid gray; 
	}
#firsttd{
	width:300px;
	/*border-right:1px solid;
	border-bottom:1px solid;*/
	}
#secondtd{
	width:150px;
	/*border-right:1px solid;
	border-bottom:1px solid;*/
	}
#thirdtd{
	width:100px;
	/*border-right:1px solid;
	border-bottom:1px solid;*/
	}
#fourthtd{
	/*border-bottom:1px solid;*/
	width:100px;
	}
#fourthtd a{
	text-decoration:none;
	}
#th{
	font-size:16px;
	text-align:center;
	height:25px;
	padding: 7px;
	}
/* Sortable tables */
#thead {
    height:50px;
	background-color:green;
    color:black;
    font-weight: bold;
    cursor: default;
	padding:20px 20px;
}
#thead a{
	color:black;
	}
#suggestable{
	font-size:14px;
	width:600px;
	}
#hnavigation{
	position:absolute;
	top:165px;
	width:100px;
	list-style-type:none;
	margin:0 10px;
	padding:0;
	
	}
#hnavigation button{
	display:block;
	background-color:#FFFFFF;
	width:130px;
	height:40px;
	background-color:#d3d3d3;
	border:1px solid #C0C0C0;
	}
#hnavigation button:hover{
	background-color: #336699;
	color:#ffffff;
	cursor: pointer;
	}
#suggestcontent, #suggestcontent ul, #suggestcontent li{
	margin:0;
	padding:0;
	list-style:none;
	}
#suggestcontent li {
	font-size:16px;
	}
#suggestcontent a{
	text-decoration:none;
	color:black;
	display:block;
	}
#suggestcontent li {
	background-color:lightgray;
	}
a{
	text-decoration:none;
	}
#buttontextalign{
	text-align:left;
	}
#fontsize{
	font-size:20px;
	}
#downloadguide a{
	text-decoration:none;
	color:green;
	display:block;
	}
#quickspec{
	position:absolute;
	top:165px;
	width:145px;
	list-style-type:none;
	padding:0;
	border:1px solid;
	text-align:left;
	font-size:14px;
	}