/*styles for registration and download page*/
body{
	background-color:#CCCCCC;
	font-family:Helvetica, Georgia, Arial, sans-serif;
	}
#wrap{
	width:800px;
	height:950px;
	border: 1px solid;
	margin:0 auto 0 auto;
	background-color:white;
}
#wrap1{
	width:800px;
	height:750px;
	border: 1px solid;
	margin:0 auto 0 auto;
	background-color:white;
	}
#wrap2{
	width:800px;
	height:1050px;
	border: 1px solid;
	margin:0 auto 0 auto;
	background-color:white;
	}
#softwarepagewrapper{
	width:800px;
	height:1500px;
	border: 1px solid;
	margin:0 auto 0 auto;
	background-color:white;
}

/*used  to change the horizontal navigation tab color when on a specitic page*/
body.section1 #navigation button.one,
body.section2 #navigation button.two,
body.section3 #navigation button.three,
body.section4 #navigation button.four,
body.section5 #navigation button.five
{
background:#0D3D7C;
color:black;
font-weight:bold;
}
/*used to change the vertical navigation tab color when on a specitic page*/
body.section1 #vnavigation button.one1,
body.section2 #vnavigation button.two2,
body.section3 #vnavigation button.three3,
body.section4 #vnavigation button.four4,
body.section5 #vnavigation button.five5
{
background:#0D3D7C;
color:black;
font-weight:bold;
}


#skip{
	position:relative;
	top:5px;
	text-align:right;
	}
#skip a{
	border:1px dashed #8C98AE;
	color:#20399D;
	margin: 20 0;
	text-decoration:none;
	}
#skip a:hover{
	color:#00009C;
	text-decoration:underline;
	}
#logo{
	float:left;
	width:5px;
	}
#logo img{
	border:none;
	}
#navigation{
	list-style-type:none;
	margin:0;
	padding:0;
	width:800px; 
	position:absolute;
	top:80px;
	/*border-bottom: .5em solid #999999;*/
	}
#navigation li{
	float:left;
	}
#navigation button{
	display:block;
	/*background-color:#d3d3d3;*/
	background-color:#366092;
	width:160px;
	height:50px;
	border:1px solid #294D7D;
	color:white;
	font-weight:bold;
	}
#navigation button:hover{
	/*background-color: #0000CC;*/
	background-color: #8CB2E4;
	color:black;
	font-weight:bold;
	cursor: pointer;
	}
#title{
	position:absolute;
	top:140px;
	font-size:25px;
	width:800px;
	margin-left:10px;
	}
	
#title1{
	position:relative;
	top:120px;
	font-size:25px;
	width:650px;
	margin:0 150px;
	}
#title2{
	position:relative;
	top:90px;
	font-size:25px;
	width:590px;
	margin: 0 210px;
	}
#pfont{
	font-size:14px;
	}
#titlefont{
	font-size:20px;
	color:darkblue;
	}
#search{
	float:right;
	/*width:800px;*/
	/*border-bottom:.5em solid #999999;*/
	}
#searchbutton{
	background-color:#d3d3d3;
	font-size:.8em;
	color:black;
	border: .3em solid #C0C0C0;
	}
#searchbutton:hover{
	background-color:#505050;
	color:white;
	}
#registermaincontent{
	width:700px;
	height:400px;
	position:absolute;
	top:120px;
	margin-left:30px;
	}
#center{
	margin-left:10px;
	}
#downloadbox{
	position:absolute;
	top:190px;
	width:800px;
	height:25px;
	border:1px solid gray;
	padding-top:5px;
	padding-bottom:5px;
	margin:0 auto 0 auto;
	background-color:green;
	
	}
#downloadtable{
	position:relative;
	top:-10px;
	width:650px;
	height:100px;
	border-collapse:collapse;
	font-size:16px;
	border:1px solid gray;
	}
#downloadtablep{
	font-size:10px;
	}
#downloadtable td {
	border:1px solid gray; 
	}
#firsttd{
	width:300px;
	}
#secondtd{
	width:150px;
	font-size:15px;
	}
#thirdtd{
	width:80px;
	font-size:15px;
	}
#fourthtd{
	width:100px;
	font-size:15px;
	}
#fourthtd a{
	text-decoration:none;
	}
#fourthtd img{
	border:none;
	}
#th{
	font-size:16px;
	text-align:center;
	height:25px;
	padding: 4px;
	border:1px solid gray;
	}
/* Sortable tables */
#thead {
    height:50px;
	background-color:#D3DCE3;
    color:black;
    font-weight: bold;
    cursor: default;
	padding:20px 20px;
	border:1px solid;;
}
#thead a{
	color:black;
	}
#suggestable{
	font-size:14px;
	width:600px;
	}
#vnavigation{
	position:absolute;
	top:165px;
	width:100px;
	list-style-type:none;
	margin:0 10px;
	padding:0;
	
	}
#vnavigation button{
	display:block;
	background-color:#366092;
	width:130px;
	height:40px;
	/*background-color:#d3d3d3;*/
	border:1px solid #294D7D;
	color:white;
	font-weight:bold;
	}
#vnavigation button:hover{
	background-color: #8CB2E4;
	color:black;
	font-weight:bold;
	cursor: pointer;
	}
#suggestcontent, #suggestcontent ul, #suggestcontent li{
	margin:0;
	padding:0;
	list-style:none;
	}
#suggestcontent li {
	font-size:16px;
	}
#suggestcontent a{
	text-decoration:none;
	color:black;
	display:block;
	}
#suggestcontent li {
	background-color:lightgray;
	}
a{
	text-decoration:none;
	}
#buttontextalign{
	text-align:left;
	}
#fontsize{
	font-size:20px;
	}
#downloadguide a{
	text-decoration:none;
	color:green;
	display:block;
	}
#quickspec{
	position:absolute;
	top:160px;
	width:205px;
	list-style-type:none;
	padding:0;
	border:1px solid;
	text-align:left;
	font-size:14px;
	}
#loginbox{
	position:relative;
	top:240px;
	left:200px;
	width:400px;
	height:240px;
	}
#loginboxtitle{
	background-color:#D3DCE3;
	text-align:center;
	font-size:25px;
	padding:2px;
	}
#loginlink{
	position:absolute;
	top:450px;
	left:300px;
	text-align:center;
	font-size:13px;
	}
#fontsize{
	font-size:11px;
	}
#fontsize1{
	font-size:16px;
	font-weight:bold;
	}
#fontsize2{
	font-size:16px;
	}
#forgotpassword{
	position:relative;
	top:240px;
	left:200px;
	width:400px;
	}
#forgotpasswordtitle{
	background-color:#D3DCE3;
	font-size:15px;
	padding:7px;
	}
#textsize{
	font-size:14px;
	}
#specificationtitle{
	background-color:green;
	text-align:center;
	height:30px;
	font-weight:bold;
	}
#requestprojecttable{
	border-collapse:collapse;
	border:1px solid;
	
	}
#requestprojecttable td{
	text-align:center;
	/*background-color:#95AEC0;*/
	padding:8px;
	border-collapse:collapse;
	border:1px solid gray;
	
	}
	
#requestprojecttable th{
	border-collapse:collapse;
	border: 1px solid;
	background-color: #D3DCE3;
	padding:8px;
	border:1px solid gray;
	padding:9px;
	}
	
#requestprojectcontent{
	position:relative;
	top:160px;
	width:795px;
	}
.requestprojectupdatecellcolor{
	background-color:#F1F3F9;
	font-size:16px;
	}
#title4{
	position:absolute;
	top:140px;
	font-size:16px;
	width:800px;
	margin-left:200px;
	}