/*styles for registration and download page*/
body{
	background-color:#CCCCCC;
	font-family:Helvetica, Georgia, Arial, sans-serif;
	}
#wrap{
	width:800px;
	height:850px;
	border: 1px solid;
	margin:0 auto 0 auto;
	background-color:white;
}
body.section1 #navigation button.one,
body.section2 #navigation button.two,
body.section3 #navigation button.three,
body.section4 #navigation button.four,
body.section5 #navigation button.five
{
background:blue;
}

#skip{
	position:relative;
	top:5px;
	text-align:right;
	}
#skip a{
	border:1px dashed #8C98AE;
	color:#20399D;
	margin: 20 0;
	text-decoration:none;
	}
#skip a:hover{
	color:#00009C;
	text-decoration:underline;
	}
	
#navigation{
	list-style-type:none;
	margin:0;
	padding:0;
	width:800px; 
	position:absolute;
	top:45px;
	/*border-bottom: .5em solid #999999;*/
	}
#navigation li{
	float:left;
	}
#navigation button{
	display:block;
	background-color:#d3d3d3;
	width:160px;
	height:50px;
	border:1px solid #C0C0C0;
	}
#navigation button:hover{
	/*background-color: #0000CC;*/
	background-color: #336699;
	color:#ffffff;
	cursor: pointer;
	}
#title{
	position:relative;
	top:80px;
	font-size:25px;
	}
#search{
	float:right;
	position:relative;
	top:60px;
	height:35px;
	/*width:800px;*/
	/*border-bottom:.5em solid #999999;*/
	}
#searchbutton{
	background-color:#d3d3d3;
	font-size:.8em;
	color:black;
	border: .3em solid #C0C0C0;
	}
#searchbutton:hover{
	background-color:#505050;
	color:white;
	}
#registermaincontent{
	width:600px;
	height:400px;
	position:absolute;
	top:170px;
	margin-left:30px;
	}

#center{
	margin-left:10px;
	}

#box1{
	width:350px;
	/*background-color: #dfdfbc;*/
	position:absolute;
	top:190px;
	border:.7em outset #CCCCCC;
	}
#border-bottom{
	border-bottom:1px solid;
	border-top:1px solid;
	}
#box2{
	width:350px;
	position:absolute;
	top:190px;
	left:531px;
	border:.7em outset #CCCCCC;
	}
#box3{
	width:350px;
	position:absolute;
	top:400px;
	border:.7em outset #CCCCCC;
	}
#box4{
	width:350px;
	position:absolute;
	top:400px;
	left:531px;
	border:.7em outset #CCCCCC;
	}
#sortexp{
	position:relative;
	top:130px;
	height:20px;
	}
#downloadbox{
	position:absolute;
	top:190px;
	width:800px;
	height:25px;
	border:1px solid gray;
	padding-top:5px;
	padding-bottom:5px;
	margin:0 auto 0 auto;
	background-color:green;
	
	}
#downloadtable{
	position:relative;
	top:-10px;
	width:800px;
	height:100px;
	border-collapse:collapse;
	}
#downloadtablep{
	font-size:10px;
	}
#downloadtable td {
	border:1px solid gray; 
	}
#firsttd{
	width:300px;
	/*border-right:1px solid;
	border-bottom:1px solid;*/
	}
#secondtd{
	width:160px;
	/*border-right:1px solid;
	border-bottom:1px solid;*/
	}
#thirdtd{
	width:160px;
	/*border-right:1px solid;
	border-bottom:1px solid;*/
	}
#fourthtd{
	/*border-bottom:1px solid;*/
	}
#th{
	font-size:16px;
	text-align:center;
	height:25px;
	padding: 9px;
	}
	
/* Sortable tables */
#thead {
    height:60px;
	background-color:green;
    color:black;
    font-weight: bold;
    cursor: default;
	padding:20px 20px;
}
#thead a{
	color:black;
	}
#suggestable{
	margin:0 100px;
	font-size:14px;
	width:600px;
	}